body {
    padding: 0 2em;
    font-size: 1.2em;
}

a {
    cursor: pointer;
}

label {
    margin-top: 0.5em;
}

.panel-info label {
    margin: 0.3em 0 0;
}

h1+label,
.panel-info > h4+label,
.panel-info > :first-child,
.panel-body > :first-child {
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0 0.5em;
}

@media (max-width: 767px) {
    .logo {
        text-align: center;
    }

    .logo img {
        width: 65%;
    }
}

@media (min-width: 768px) {
    .logo {
        float: right;
        margin-top: 0.7em;
    }

    .logo img {
        width: 10.1em;
    }
}

.panel-info {
    margin-top: 0.8em;
    padding: 1em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.panel-info a {
    display: block;
}

.panel-info .btn {
    margin-top: 0.25em;
}

.panel-group {
    margin-top: 1em;
    margin-bottom: 0;
}

.well {
    min-height: 0.5em;
    padding: 0.5em;
    margin: 0.5em 0 0.5em;
}

.form-control.half-width {
    width: 50%;
}

.form-control.half-width:not(:first-child) {
    border-left: none;
}

.list-row > :not(:first-child) {
    margin-top: 1em;
}

.btn-group {
    margin: 1em 0 1em;
    float: right;
}