body {
    padding: 0 5em;
    font-size: 1.2em;
}

label {
    margin-top: 0.5em;
}

h1+label,
.panel-body > :first-child {
    margin-top: 0;
}

@media (max-width: 767px) {
    .logo {
        text-align: center;
    }

    .logo img {
        width: 65%;
    }
}

@media (min-width: 768px) {
    .logo {
        float: right;
        margin-top: 1.7em;
    }

    .logo img {
        width: 9.5em;
    }
}

.panel-group {
    margin-top: 1em;
    margin-bottom: 0;
}

.form-control.half-width {
    width: 50%;
}

.form-control.half-width:not(:first-child) {
    border-left: none;
}

.list-row > :not(:first-child) {
    margin-top: 1em;
}

.table.table-hover tbody tr:hover {
    cursor: pointer;
}

.btn-group {
    margin: 1em 0 1em;
    float: right;
}

.row-editing {
    background-color: #eee;
}