<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro de Parceiros</title>

    <link href="../../libs/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../styles/css/common.css" rel="stylesheet">
    <link href="../../styles/css/datatables.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="logo">
        <img src="../../images/logo.png"/>
    </div>

    <h2>Cadastro de Parceiros</h2>

    <div class="row">
        <div class="col-sm-5">
            <label>Identificador</label>
            <input type="text" class="form-control" data-bind="value: selected.identificador">

            <label>Nome</label>
            <input type="text" class="form-control" data-bind="value: selected.nome">

            <label>Contatos</label>

            <div class="list-row" data-bind="foreach: selected.contatos">
                <div class="input-group">
                    <input type="text" class="form-control half-width" placeholder="Nome"
                           data-bind="value: nome">
                    <input type="text" class="form-control half-width" placeholder="Telefone"
                           data-bind="value: telefone">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                data-bind="click: $root.add($root.selected.contatos, { nome: '', telefone: '' })">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>

                        <button type="button" class="btn btn-default"
                                data-bind="click: $root.remove($root.selected.contatos, $data),
                                                   enable: $root.selected.contatos().length > 1">
                            <i class="glyphicon glyphicon-minus"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="btn-group">
                <a class="btn btn-primary" role="button"
                   data-bind="click: save,
                  css: { 'disabled': !selected.identificador() }">Salvar</a>
                <a class="btn btn-default" role="button"
                   data-bind="click: clear">Limpar</a>
                <a class="btn btn-danger" role="button"
                   data-bind="click: exclude,
                  css: { 'disabled': !selected.identificador() }">Remover</a>
            </div>

        </div>

        <div class="col-sm-7">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th width="30%">Identificador</th>
                    <th width="70%">Parceiro</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</div>

<script src="../../libs/jquery/2.1.0/js/jquery.min.js"></script>
<script src="../../libs/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="../../libs/knockout/3.1.0/js/knockout.min.js"></script>
<script src="../../libs/datatables/1.9.4/js/datatables.min.js"></script>
<script src="../../libs/datatables/1.9.4/js/datatables.extensions.js"></script>
<script src="../../scripts/javascript/urlParam.js"></script>
<script src="../../scripts/javascript/parceiros.js"></script>

</body>

</html>