<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Consulta das Transações Financeiras</title>

    <link href="../../libs/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../styles/common.css" rel="stylesheet">
    <link href="../../styles/datatables.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="logo">
        <img src="../../images/logo.png"/>
    </div>

    <h2>Consulta das Transações Financeiras</h2>

    <div class="row">
        <div style="display: none;" class="col-sm-5" data-bind="visible: selected.codigo()">
            <div class="jumbotron panel-info">
                <h4 data-bind="text: selected.experiencia.descricao"></h4>

                <label>Nome</label>
                <div data-bind="text: selected.cliente.nome"></div>

                <label>E-mail</label>
                <a data-bind="text: selected.cliente.email, attr: { href: 'mailto:' + selected.cliente.email() }"></a>

                <label>Telefone</label>
                <a data-bind="text: selected.cliente.telefone, attr: { href: 'tel:' + selected.cliente.telefone().replace(/\D/g, '') }"></a>

                <label>Método de Pagamento</label>
                <div data-bind="text: selected.metodoPagamento"></div>

                <label>Valor Total</label>
                <div data-bind="text: selected.valorTotal"></div>

                <label>Valor da Taxa</label>
                <div data-bind="text: selected.valorTaxa"></div>

                <label>Valor Líquido</label>
                <div data-bind="text: selected.valorLiquido"></div>

                <label>Situação</label>
                <div data-bind="text: selected.situacao"></div>

                <label>Data</label>
                <div data-bind="text: selected.data"></div>

                <div data-bind="visible: selected.linkPagamento()">
                    <label>Link de Pagamento</label>
                    <a target="_blank" data-bind="text: selected.linkPagamento, attr: { href: selected.linkPagamento }"></a>
                </div>

                <div class="well" data-bind="text: selected.codigo"></div>

                <a class="btn btn-primary btn-lg"
                   role="button"
                   data-bind="click: generateVoucher">Gerar Voucher</a>
            </div>
        </div>
        <div data-bind="attr: { class: selected.codigo() ? 'col-sm-7' : 'col-sm-12' }">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th width="20%">Data</th>
                    <th width="20%">Método de Pagamento</th>
                    <th width="20%">Situação</th>
                    <th width="20%">Valor</th>
                    <th width="20%">Código</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</div>

<script src="../../libs/jquery/2.1.0/js/jquery.min.js"></script>
<script src="../../libs/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="../../libs/knockout/3.1.0/js/knockout.min.js"></script>
<script src="../../libs/moment/2.5.1/js/moment-with-langs.min.js"></script>
<script src="../../libs/accounting/0.3.2/js/accounting.min.js"></script>
<script src="../../libs/datatables/1.9.4/js/datatables.min.js"></script>
<script src="../../libs/datatables/1.9.4/js/datatables.extensions.js"></script>
<script src="../../scripts/javascript/transacoes.js"></script>

</body>

</html>