<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Consulta das Transações Financeiras</title>

    <link href="../../libs/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../styles/common.css" rel="stylesheet">
    <link href="../../styles/datatables.css" rel="stylesheet">
</head>
<body>

<div class="container-fluid">
    <div class="logo">
        <img src="../../images/logo.png"/>
    </div>

    <h1>Transações Financeiras</h1>

    <div class="row">
        <div class="col-sm-5">
            <div class="jumbotron">
                <div data-bind="text: selected.experiencia.descricao"></div>
                <div data-bind="text: selected.cliente.nome"></div>
                <div data-bind="text: selected.cliente.email"></div>
                <div data-bind="text: selected.cliente.telefone"></div>
                <div data-bind="text: selected.metodoPagamento"></div>
                <div data-bind="text: selected.valor"></div>
                <div data-bind="text: selected.valorTaxa"></div>
                <div data-bind="text: selected.valorLiquido"></div>
                <div data-bind="text: selected.situacao"></div>
                <div data-bind="text: selected.data"></div>
                <a target="_blank" data-bind="text: selected.linkPagamento, attr: { href: selected.linkPagamento }"></a>
                <div data-bind="text: selected.codigo"></div>

                <a class="btn btn-primary btn-lg" role="button">Gerar Voucher</a>
            </div>
        </div>
        <div class="col-sm-7">
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th width="20%">Data</th>
                    <th width="20%">Método de Pagamento</th>
                    <th width="20%">Situação</th>
                    <th width="20%">Valor</th>
                    <th width="20%">Código</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

</div>

<script src="../../libs/jquery/2.1.0/js/jquery.min.js"></script>
<script src="../../libs/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="../../libs/knockout/3.1.0/js/knockout.min.js"></script>
<script src="../../libs/moment/2.5.1/js/moment-with-langs.min.js"></script>
<script src="../../libs/accounting/0.3.2/js/accounting.min.js"></script>
<script src="../../libs/datatables/1.9.4/js/datatables.min.js"></script>
<script src="../../libs/datatables/1.9.4/js/datatables.extensions.js"></script>
<script src="../../scripts/javascript/transacoes.js"></script>

</body>

</html>